.controls-bar {
  @extend %flexbox;
  @include flex-direction(column);
  width: 100%;
  color: #FFF;
  background-color: #248BCE;
}

.controls-bar {
  position: absolute;
  bottom: 0;
  height: 120px;
}