.user-navigation {

  & {
    @extend %flexbox;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: calc(100% - 120px);
  }

  & > .playlist {
    color: #FFF;
    position: relative;
    overflow: auto;
    @include flex(1 1 15%);
    background-color: #4A4B4D;
  }

  & > .presentation {
    @include flex(1 1 70%);
  }

}

.controls-bar {
  position: absolute;
  bottom: 0;
  height: calculateRem(120px);
}